@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    @apply bg-[#4F82E5];
}
header {
    @apply fixed top-0 w-screen z-30 bg-[#4F82E5] py-4 transition-all duration-200 ease-out;
}
.shadow-primary {
    @apply shadow-[0_16px_32px_rgba(125,179,255,0.05)];
}
.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav-open .nav-overlay {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
@media (max-width: 639px) {
    .primary-navigation {
      @apply fixed top-0 right-0 bottom-0 left-1/3 z-[1000] h-screen translate-x-[175%] flex-col bg-[#4F82E5] p-[min(30vh,10rem)_2rem] transition-[transform] duration-300 ease-out;
    }
    .primary-navigation[data-visible="true"] {
      @apply translate-x-0;
    }
    @supports (backdrop-filter: blur(1rem)) {
      .primary-navigation {
        @apply bg-[#4F82E5];
      }
    }
    .mobile-nav-toggle {
      @apply absolute top-[1.4rem] right-6 z-[9999] h-[21px] w-6 bg-transparent bg-[url(/assets/hamburger.svg)] bg-no-repeat;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
      @apply bg-[url(/assets/close.svg)];
    }
}
@media (max-width: 640px) {
    .path-wrapper::-webkit-scrollbar {
        display: none;
    }
    .path-wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
